<div class="row">
  <div class="small-8 columns">
    <h1>Khatamat Index</h1>
  </div>
  <div class="small-4 columns">
    <br/>
    <%= link_to controller: "khatamat", action: "new" do %>
        <span class="tiny button">Create khatma</span>
    <% end %>
  </div>
</div> 

<ul>
<% @khatamat.each do |k| %>
  <li>
      <%= link_to "#{k.description}", controller: "khatamat", action: "show", id: k.id %>
  </li>
<% end %>
</ul>
