<h1>
    <%= image_tag "#{current_user.image}" %>
    <%= current_user.name %>
</h1>
<hr/>
<h3>User's Khatamat</h3>
<ul>
<% @user_khatamat.each do |k| %>
    <li><%= k.description %></li>
<% end %>
</ul>