<div class="row">
  <div class="small-12 columns">
    <h1>
        <%= image_tag "#{@user.image}", class: "th radius" %>
        <%= @user.name %>
    </h1>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns">
    <hr/>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns">
    <h3>ختمات أنشأها هذا المستخدم</h3>
    <ul>
    <% @user_khatamat.each do |k| %>
        <li><%= link_to "#{k.description}", controller: "khatamat", action: "show", id: k.id %></li>
    <% end %>
    </ul>
  </div>
</div>