<div class="row">
  <div class="small-12 columns text-right">
    <h3 class="font-droid-kufi">
      عن الموقع
    </h3>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns text-right">
    <br/>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns text-right">
    <p class="font-droid-naskh">
      <%= t('about_us_long') %>
    </p>
    <p class="font-droid-naskh">
      نرجو ممن يجد هذا التطبيق مفيدا أن يقرأ الفاتحة لوالدتي
    </p>
    <p class="font-droid-naskh">
      <a href='/privacy'>يمكنكم زيارة صفحة سياسة الخصوصية هنا</a>
    </p>
  </div>
</div>
