<div class="row">
  <div class="small-12 columns text-right">
    <h3 class="font-droid-kufi">
      راسلنا
    </h3>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns text-right">
    <br/>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns text-right">
    <iframe src="https://docs.google.com/forms/d/10UyjVV3cTjvWwHNiYDggmZ_e6wUTHrMOTg6S08liCgY/viewform?embedded=true" width="500" height="700" frameborder="0" marginheight="0" marginwidth="0">جاري تحميل هذا الجزء من الصفحة ...</iframe>
  </div>
</div>


