<div class="row">
  <div class="small-12 columns text-right">
    <h3 class="font-droid-kufi">
      سياسة الخصوصية
    </h3>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns text-right">
    <p class="font-droid-naskh">نعلم أنك حريص على خصوصيتك، ونحن أيضا حريصون عليها، لذا:</p>
  </div>
</div> 

<div class="row">
  <div class="small-12 columns text-right">
    <ul>
      <li class="font-droid-kufi">نحتفظ بالقدر الأدني من المعلومات عنك لتسهيل دخولك للموقع</li>
      <li class="font-droid-kufi">نجمع معلومات قليلة عن كيفية إستخدام كل مستخدم للموقع من أجل تحسين الخدمة</li>
      <li class="font-droid-kufi">لن نقوم بإرسال سخام لبريدك الإلكتروني</li>
      <li class="font-droid-kufi">لن نقوم بإرسال أي شي على حسابك على الفيسبوك نيابة عنك</li>
    </ul>
  </div>
</div>


